/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        behaviors {
                lt_bspc: layer_tap_bspc_del {
                        compatible = "zmk,behavior-hold-tap";
                        label = "LAYER_TAP_BACKSPACE_DELETE";
                        #binding-cells = <2>;
                        bindings = <&mo>, <&bspc_del>;
                        tapping-term-ms = <200>;
                };
                bspc_del: backspace_delete {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp BACKSPACE>, <&kp DELETE>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |   TAB    |  Q  |  W  |  E  |  R  |  T   |   |  Y  |  U   |  I  |  O  |  P  |   -    |
// |   ALT    |  A  |  S  |  D  |  F  |  G   |   |  H  |  J   |  K  |  L  |  ;  |   '    |
// | SHFT/ESC |  Z  |  X  |  C  |  V  |  B   |   |  N  |  M   |  ,  |  .  |  /  | SHFT/` |
//          | GUI | LWR/BSPC/DEL | CTRL/SPC  |   | ENT | RSE  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp TAB       &kp Q &kp W &kp E    &kp R        &kp T                &kp Y   &kp U   &kp I     &kp O   &kp P    &kp MINUS
   &kp LALT      &kp A &kp S &kp D    &kp F        &kp G                &kp H   &kp J   &kp K     &kp L   &kp SEMI &kp SQT
   &mt LSHFT ESC &kp Z &kp X &kp C    &kp V        &kp B                &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &mt RSHIFT GRAVE
                             &kp LGUI &lt_bspc 1 0 &mt LCTRL SPACE      &kp RET &mo 2   &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |     |      |  UP  |       |     |     |   |     |  7  |  8  |  9  |  *  |    =    |
// |     | LEFT | DOWN | RIGHT |     |     |   |     |  4  |  5  |  6  |  +  |    \    |
// |     |      |      |       |     |     |   |     |  1  |  2  |  3  |  ^  | SHIFT/| |
//                     |       |     |     |   |     |     |  0  |
                        display-name = "Lower";
                        bindings = <
   &trans &trans   &kp UP   &trans    &trans &trans     &trans  &kp N7 &kp N8 &kp N9 &kp KP_MULTIPLY &kp EQUAL
   &trans &kp LEFT &kp DOWN &kp RIGHT &trans &trans     &trans  &kp N4 &kp N5 &kp N6 &kp PLUS        &kp BSLH
   &trans &trans   &trans   &trans    &trans &trans     &trans  &kp N1 &kp N2 &kp N3 &kp CARET       &mt RSHIFT PIPE
                    	    &trans    &trans &trans     &trans  &trans &kp N0
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Raise";
                        bindings = <
   &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &trans &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &trans &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                          &trans   &trans   &trans      &trans    &trans    &kp RALT
                        >;
                };
        };
};
